.dashboard {
  height: 420vh;
  background-color: #fff0e3;
}
.page-header {
  font-size: 20px;
  font-weight: 600;
}
.main-page-title {
  font-size: 35px;
  color: rgb(13, 15, 129);
  font-weight: 300 !important;
  padding-top: 25px;
  padding-bottom: -28px;
  margin-left: 8px;
}
.header-items,
.header-items-3 {
  color: rgb(84, 84, 84);
}
.horizontal-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #d5d5d5;
  border-radius: 5px;
}
.header-items {
  margin-top: -10px;
  margin-left: 12px;
}
.header-items-2,
.header-items-3 {
  position: absolute;
  right: 0;
}
.header-items-2 {
  margin-top: -70px;
  margin-right: 12px;
}
.header-items-3 {
  margin-top: -45px;
  margin-right: 12px;
}
.side-1 {
  width: 100%;
  border-right: 1px solid rgb(224, 224, 224);
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-appointments {
  width: 80%;
  margin: auto;
  background-color: #fff0e3;
}
.drdash {
  height: 260vh;
}

.side-bar-button {
  display: none;
}
@media screen and (min-width: 1824px) {
  .dashboard {
    height: 320vh;
  }
  .article-cards {
    width: 390px !important;
  }
  .drdash {
    height: 200vh;
  }
}
