.healthnav{
    margin-left: 250px;
    background-color: #fff0e3;

}
.healthnav-items{
    color: #18345B !important;
}
.healthnav li {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;

}
@media screen and (min-width:700px) and (max-width:1024px){
    .healthnav{
        width: 100%;
        margin-left: 0;
    }
    
    .healthnav li{
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width:699px){
    .healthnav{
        width: 100%;
        margin-left: 0;
    }
    .healthnav li{
        padding-left: 0;
        padding-right: 0;
        font-size: 13px;
    }
}